Source: ros-indigo-mbf-costmap-nav
Section: misc
Priority: extra
Maintainer: Sebastian Pütz <spuetz@uos.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-base-local-planner, ros-indigo-catkin, ros-indigo-dynamic-reconfigure, ros-indigo-geometry-msgs, ros-indigo-mbf-abstract-nav, ros-indigo-mbf-costmap-core, ros-indigo-mbf-msgs, ros-indigo-mbf-utility, ros-indigo-nav-core, ros-indigo-nav-msgs, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-std-msgs, ros-indigo-std-srvs, ros-indigo-tf
Homepage: http://wiki.ros.org/move_base_flex
Standards-Version: 3.9.2

Package: ros-indigo-mbf-costmap-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-base-local-planner, ros-indigo-dynamic-reconfigure, ros-indigo-geometry-msgs, ros-indigo-mbf-abstract-nav, ros-indigo-mbf-costmap-core, ros-indigo-mbf-msgs, ros-indigo-mbf-utility, ros-indigo-move-base, ros-indigo-move-base-msgs, ros-indigo-nav-core, ros-indigo-nav-msgs, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-std-msgs, ros-indigo-std-srvs, ros-indigo-tf
Description: The mbf_costmap_nav package contains the costmap navigation server implementation of Move Base Flex (MBF).
 The costmap navigation server is bound to the costmap_2d representation. It provides the Actions for planning, controlling and recovering. At the time of start MBF loads all defined plugins. Therefor, it loads all plugins which are defined in the lists *planners*, *controllers* and *recovery_behaviors*. Each list holds a pair of a *name* and a *type*. The *type* defines which kind of plugin to load. The *name* defines under which name the plugin should be callable by the actions. Additionally the mbf_costmap_nav package comes with a wrapper for the old navigation stack and the plugins which inherits from the nav_core base classes. Preferably it tries to load plugins for the new API. However, plugins could even support both move_base and move_base_flex by inheriting both base class interfaces located in the nav_core package and in the mbf_costmap_core package.
