Source: ros-lunar-mbf-simple-nav
Section: misc
Priority: extra
Maintainer: Sebastian Pütz <spuetz@uos.de>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-actionlib, ros-lunar-actionlib-msgs, ros-lunar-catkin, ros-lunar-dynamic-reconfigure, ros-lunar-geometry-msgs, ros-lunar-mbf-abstract-core, ros-lunar-mbf-abstract-nav, ros-lunar-mbf-msgs, ros-lunar-nav-msgs, ros-lunar-pluginlib, ros-lunar-roscpp, ros-lunar-std-msgs, ros-lunar-std-srvs, ros-lunar-tf, ros-lunar-tf2, ros-lunar-tf2-ros
Homepage: http://wiki.ros.org/move_base_flex
Standards-Version: 3.9.2

Package: ros-lunar-mbf-simple-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-actionlib, ros-lunar-actionlib-msgs, ros-lunar-dynamic-reconfigure, ros-lunar-geometry-msgs, ros-lunar-mbf-abstract-core, ros-lunar-mbf-abstract-nav, ros-lunar-mbf-msgs, ros-lunar-nav-msgs, ros-lunar-pluginlib, ros-lunar-roscpp, ros-lunar-std-msgs, ros-lunar-std-srvs, ros-lunar-tf, ros-lunar-tf2, ros-lunar-tf2-ros
Description: The mbf_simple_nav package contains a simple navigation server implementation of Move Base Flex (MBF).
 The simple navigation server is bound to no map representation. It provides actions for planning, controlling and recovering. MBF loads all defined plugins which are defined in the lists *planners*, *controllers* and *recovery_behaviors*. Each list holds a pair of a *name* and a *type*. The *type* defines which kind of plugin to load. The *name* defines under which name the plugin should be callable by the actions. It tries to load the defined plugins which implements the defined interfaces in mbf_abstract_core.
